.m-r-1em{ margin-right:1em; }
.m-b-1em{ margin-bottom:1em; }
.m-l-1em{ margin-left:1em; }
.mt0{ margin-top:0; }

.margin {
    margin-left:  250px;
}

body {
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.middle {
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
}


table {
    table-layout: fixed;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid purple;

}

thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }

  #btn_marten:hover {
    background-color: #997208;
  }

  thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }

.button {
    background-color: #4e4caf;
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#btn_red {
    background-color: #af4c4c;
}

#btn_yello {
  background-color: #a5af4c;
}

#btn_yello:hover {
  background-color: #afc205;
}

#btn_green {
    background-color: #4caf54;
}

#btn_marten {
  background-color: #b38a32;
}

.button:hover {
    background-color: #3432b3;
}

#btn_red:hover {
    background-color: #c42d2d;
}

#btn_green:hover {
    background-color: #28b934;
}

.form {
    width: 98%;
    border: 0;
    background: white;
    color: black;
    margin: 5px;
    

}